.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #ad180a;
  color: white;
  width: 20%;
  margin: 25px;
  padding: 20px;
  border-radius: 10px;
}
.sidebar p {
  padding: 5px;
  font-size: 25px;
  transition: margin-left 300ms ease;
}
.sidebar p:hover {
  margin-left: 5px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .sidebar {
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    padding: 10px
  }
  .sidebar p:hover{
    margin-left: 0;
    transition: none;
  }
}
